
.cbwct-tracking-container table {
    width: 100%;
}

.cbwct-tracking-container tr {
    vertical-align: middle;
}

.cbwct-tracking-container table tr td:first-child{font-size: 16px;color: #404040;vertical-align: middle;font-family: 'Lato',Helvetica, sans-serif !important;font-weight: 400;}


.cbwct-tracking-container td {
    padding: 9px;
}

.cbwct-tracking-container tr:nth-child(odd) {
  background-color: #dddddd;
}
.cbwct-tracking-container {
    margin-top: 50px;
}
.cbwct-tracking{max-width: 1140px; margin: 30px auto;}
.cbwct-tracking-porgressbar {
    border-style: solid;
    border-width: 1px;
    border: rgb(136,136,136);
    background-color: rgb(255,255,255);
    -webkit-box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    -moz-box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    height: 75px;
}

.cbwct-tracking-progress {
        background: #0cc5b7; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cc5b7', endColorstr='#2bd891',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    color:#fff;
    animation: CBWC_Tracking 15s ease infinite;
    position: absolute;
    bottom: 0;
        height: 34px;
        text-align: center;
        border-radius: 3px;
}

.cbwct-tracking-progress {}
.cbwct-tracking-from form input[type="text"] {
    padding: 10px;
    border: 1px solid #0a212d;
    border-radius: 3px;
    margin-right: 10px;
    width: 250px;
}
.cbwct-tracking-from form input[type="submit"] {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: -2px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    color: #FFF;

    background: #ff934b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ff934b 0%, #ff5e62 100%);
background: -webkit-linear-gradient(-45deg, #ff934b 0%,#ff5e62 100%); 
background: linear-gradient(135deg, #ff934b 0%,#ff5e62 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff934b', endColorstr='#ff5e62',GradientType=1 );
}
.cbwct-tracking-from form label {
    font-weight: 800;
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    color: #666;
    font-size: 14px;
}
.cbwct-tracking-from {
    margin-top: 40px;
    margin-bottom: 0px;
}
.cbwct-tracking-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #666;
}

.cbwct_wc_traking_steps {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 97%;
  top: 6px;
  left: 10px;
  right: 10px;
  margin: 0 auto;
}
.cbwct-wc-traking-round {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #ACACA6;
  border-radius: 50%;
  transition: background 1s;
  margin: 0 auto;
}

.cbwct-wc-traking-round.active:before {
    content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #23d5ab transparent transparent transparent;
  display:block;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;  
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor:pointer;
    top: -36px;
    position: absolute;
}

.cbwct-wc-traking-round.active:after{
 content: 'Order';
display: inline-block;
position: absolute;
top: -62px;
left: -44px;
right: 0;
color: #666;
-webkit-animation-name: bounce;
-webkit-animation-duration: 1s;
-webkit-animation-iteration-count: infinite;
animation-name: bounce;
animation-duration: 1s;
animation-iteration-count: infinite;
font-size: 14px;
text-align: center;
width: 125px;
}
.cbwct-wc-traking-round.active.ali-wc-payment:after{
    content:'Payment Pending';
}

.cbwct-wc-traking-round.active.ali-wc-hold:after{
    content:'On Hold';
}
.cbwct-wc-traking-round.active.ali-wc-processing:after{
    content:'Processing';
}
.cbwct-wc-traking-round.active.ali-wc-shipping:after{
    content:'Shipped';
}
.cbwct-wc-traking-round.active.ali-wc-delivered:after{
    content:'Delivered';
}

.cbwct_wc_traking_step p {color:white;}
.cbwct-wc-traking-img img{width: 30px;margin-bottom: 12px;}

.cbwct_shipping{position: absolute;
left: 0;top:0}
.cbwct_shipping.active{
  animation: cbwct_left_to_right 5s linear infinite; 
 
}
.cbwct_wc_traking_step {
  text-align: center;
  position: relative;
}
.cbwct-wc-traking-img {
  margin: 0 auto;
}

.cbwct-wc-traking-round.active{        background: #0cc5b7; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cc5b7', endColorstr='#2bd891',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;  
    animation: CBWC_Tracking 15s ease infinite;
    border-color:#fff;
}

.cbwct_notice{color: red;
font-size: 15px;
font-weight: 600;
display: inline-block;
border-radius: 3px;}
.cbwct_progress{animation: cbwct_wc_circle 6s linear infinite;}

.cbwct_wc_order_cancelled {
  font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width:100% !important;
}
.cbwct-traking-form-result {
    margin-top: 20px;
}
.cbwct-tracking-form-area{display: flex;    
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;}
.cbwct-tracking-form-field{display: flex;
flex-direction: column;}
.cbwct-traking-form-submit{}


.cbwct_wc_order_tracker_loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.cbwct_wc_order_tracker_loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ff5e62 ;
  animation: cbwct_loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.cbwct_wc_order_tracker_loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.cbwct_wc_order_tracker_loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.cbwct_wc_order_tracker_loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}