*{
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

tr {
    width: 100% !important;
    display: block !important;
}

table tr td:first-child{min-width: 300px !important;border: 0;font-size: 16px;font-style: inherit;margin: 0;outline: 0;padding: 0;color: #404040;vertical-align: baseline;font-family: 'Lato',Helvetica, sans-serif !important;font-weight: 400;line-height: 25px;}


td {
    z-index: 999;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
.alishop-tracking-container {
    margin-top: 50px;
}
.alishop-tracking{width: 1140px; margin: 0 auto;}
.alishop-tracking-porgressbar {
    border-style: solid;
    border-width: 1px;
    border: rgb(136,136,136);
    background-color: rgb(255,255,255);
    -webkit-box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    -moz-box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    box-shadow: 0px 0px 9px 1px rgb(136,136,136);
    margin-bottom: 1em;
    margin-top: 1em;
}

.alishop-tracking-progress {
    height: 40px;
    background: linear-gradient(to bottom, rgb(34,201,163) 0%, rgb(145,225,200) 50%, rgb(145,225,200) 51%, rgb(34,201,163) 100%);
}

.alishop-tracking-progress {}
.alishop-tracking-from form input[type="text"] {
    padding: 6px;
    border: 1px solid #0a212d;
    border-radius: 2px;
    margin-right: 10px;
}
.alishop-tracking-from form input[type="submit"] {
    background: #64cba8;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: -2px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    color: #FFF;
}
.alishop-tracking-from form label {
    font-weight: 800;
    padding-right: 79px;
    font-family: 'Lato', sans-serif;
    color: #666;
}
.alishop-tracking-from {
    margin-top: 40px;
    margin-bottom: 40px;
}
.alishop-tracking-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #666;
}